@page "/"
@using QRCoder
@inject IToastService toastService
@inject IJSRuntime JSRuntime

<div class="row">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                Guid Generator
            </a>
            <a href="https://github.com/dahln/GuidGenerator" target="_blank">
                <i class="fa-brands fa-github float-end fa-2x me-2"></i>
            </a>
        </div>
    </nav>
</div>

<div class="row mt-5">
    <div class="col-lg-12 text-center">
        <span class="header">Guid Generator</span>
    </div>
</div>


<div class="row mt-5">
    <div class="col-12 col-lg-6 offset-lg-3 px-3 px-lg-5 pt-3 pb-0">
        <div class="input-group input-group-lg mb-3">
            <input type="text" class="form-control guid-input" @bind="GeneratedGuid" readonly />
            <button class="btn btn-primary" type="button" @onclick="GenerateGuid" title="Generate">
                Generate &amp; Copy
            </button>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(QrCodeSvg))
{
    <div class="row mt-4">
        <div class="col-12 col-lg-6 offset-lg-3 px-3 px-lg-5">
            <div class="guid-string-section p-3 text-center">
                <p class="guid-string-label mb-2">QR Code</p>
                @((MarkupString)QrCodeSvg)
            </div>
        </div>
    </div>
}

@code {

    private string? GeneratedGuid { get; set; }
    private string? QrCodeSvg { get; set; }

    private readonly QRCodeGenerator _qrGenerator = new QRCodeGenerator();

    private async Task GenerateGuid()
    {
        GeneratedGuid = Guid.NewGuid().ToString().ToUpper();
        QrCodeSvg = GenerateQrCode(GeneratedGuid);
        await CopyGuid();
    }

    private async Task CopyGuid()
    {
        await JSRuntime.InvokeVoidAsync("clipboardCopy.copyText", GeneratedGuid);
        toastService.ShowSuccess("Copied");
    }

    private string GenerateQrCode(string value)
    {
        QRCodeData qrCodeData = _qrGenerator.CreateQrCode(value, QRCodeGenerator.ECCLevel.Q);
        SvgQRCode qrCode = new SvgQRCode(qrCodeData);
        return qrCode.GetGraphic(5);
    }

}
